<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>-->
  <connectionStrings>
    <!--<add name="connect" connectionString="Data Source=203.192.254.34;Initial Catalog=yashvidyaniketen;User ID=sa;password=passwd@12"/>-->
    <add name="connect" connectionString="Data Source=db12706.public.databaseasp.net;Initial Catalog=db12706;User ID=db12706;password=5Fo_e@Y9+Z4h"/>
    <!--<add name="connect" connectionString="Data Source=172.16.13.8;Initial Catalog=YVN;User ID=sa;password=passwd@12"/>-->
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <customErrors defaultRedirect="~/Login.aspx" mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>